*{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
  
body {
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: white;
    background-color: rgba(210, 210, 187, 0.927);
}

/*video*/

.slider{
    width: 1250px;
    margin: 30px auto;
    border: 1px solid rgb(80, 80, 76);
    overflow: hidden;
    box-shadow: 0 5px 8px;
}

.video{
    display: flex;
    width: 100%;
    animation-name: movimiento;
    animation-duration: 200s;
    animation-iteration-count: infinite;
}

.slide{
    width: 1300px;
}

.slide video{
    height: 480px;
    
}

@keyframes movimiento{
    0%{transform: translate();}
    100%{transform: translateX(-100%);}

}
/* footer */
.footer {
    position: relative;
    width: 100%;
    background-color: rgba(92, 92, 88, 0.927);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    color: white;
    font-size: 25px;
}
  
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}
  
.icon-elem {
    list-style: none;
}
  
.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}
  
.icon:hover {
    transform: translateY(-10px);
}
  
.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
.menu-elem {
    list-style: none;
}
.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
  
.menu-icon:hover {
    opacity: 1;
 }

.container-titulo{
    color: rgb(117, 33, 33);
    font-size: 30px;
    text-align: center;
}

/*menu */
.menu{
    background-color: rgb(34, 63, 93);
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* definir los elementos en horizontal */
    justify-content: center;
}

.menu ul li{
    margin: 0 15px; 
}

.menu ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px 30px;
    display: block;
}

.menu ul li a:hover{
    background-color: blueviolet;
}

/* menu*/
  @media (max-width:769px) {
    .h1{
      margin: 0;
      text-align: center;
    }
    .menu ul{
      flex-direction: column;
    }
    .menu ul li{
      margin: 0;
      border-bottom: 1px solid ;
    }
    .menu ul li a{
      text-align: center;
    }
    
    .footer{
        text-align: center;
    }

  }